<!-- principal.page.html -->
<ion-content [fullscreen]="true" class="ion-padding magnolia">
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <img
      class="logo"
      src="../../../assets/img/MartialAppsWhite.png"
      alt="Martial apps logo"
    />
  </div>

  <h1 style="padding-bottom: 10px; color: #1e352f">
    {{ nombre + ' ' + apellido }}
  </h1>

  <!-- Mostrar los gimnasios -->
  <ion-card
    *ngFor="let gimnasio of gimnasios"
    class="gimnasio-card"
    (click)="verClases(gimnasio)"
  >
    <ion-img [src]="gimnasio.imagen_url" alt="{{ gimnasio.nombre }}"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ gimnasio.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ gimnasio.descripcion }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<app-tab-bar></app-tab-bar>
