:host {
  --color-primary: #33f032;
  --color-secondary: #ebf2fa;
  --color-background: #000000;
  --color-text-dark: #335145;
  --color-text-light: #dfdfdf;
}

ion-content {
  background-color: var(--color-background);
}

.gimnasio-card {
  margin: 15px;
  --ion-card-background: var(--color-background);
  --ion-card-border-radius: 10px;
  color: var(--color-text-dark);
  transition: transform 0.3s ease-in-out;
}

.gimnasio-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.7); /* Sombra más intensa al pasar el cursor */
}

ion-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

ion-card-title {
  font-size: 1.4em;
  font-weight: bold;
  color: var(--color-text-light);
}

ion-card-content {
  font-size: 1em;
  color: var(--color-text-light);
}

ion-tab-bar {
  --ion-tab-bar-background: var(--color-background);
}

ion-tab-button {
  --color-selected: var(--color-primary);
  --color: var(--color-secondary);
}

ion-tab-button ion-icon {
  color: var(--color-primary);
}
