<ion-content class="ion-padding magnolia">
  <div style="display: flex; justify-content: center; align-items: center">
    <img
      class="logo"
      src="../../../assets/img/MartialAppsWhite.png"
      alt="duoc padre
      alonso ovalle"
    />
  </div>
  <ion-text>
    <h1>Bienvenido/a</h1>
  </ion-text>
  <ion-item class="ion-margin-top inputRedondo" lines="none">
    <ion-label position="stacked">Correo</ion-label>
    <ion-input [(ngModel)]="mdl_correo">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-item class="ion-margin-top inputRedondo">
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="mdl_pass">
      <ion-icon name="key" slot="start"></ion-icon>
    </ion-input>
  </ion-item>

  <ion-button
    (click)="login()"
    expand="block"
    class="oscuro ion-margin-top primario-bg-button"
    color="ion-color-warning"
    >Ingresar</ion-button
  >
  <ion-button
    (click)="registrar()"
    expand="block"
    class="oscuro ion-margin-top primario-bg-button"
    color="ion-color-warning"
    >Registrate</ion-button
  >
</ion-content>
